{%extends 'fundamental_five.html' %} {%block title%} Create Task{%endblock%}
{%block h1%} Create a new task{%endblock%} {%block content%}
  <form method="POST">
    {% csrf_token %} {{form}}<button type="submit">Create</button>
  </form>

  {%endblock%}
</div>
