{%extends 'fundamental_five.html' %} {%block title%} Login {%endblock%} \
{%block h1%} Login {%endblock%} {%block content%}
<form method="POST">
  {% csrf_token %} {{form}}<button type="submit">login</button>
</form>

{%endblock%}
