<!DOCTYPE html>
<html>
  <head>
    <title>{%block title%}{%endblock%}</title>
  </head>

  <body>
    <header>
      <nav>
        {%if request.user.is_authenticated%}
        <li><a href="{%url 'show_my_tasks' %}">My tasks</a></li>
        <li><a href="{%url 'list_projects' %}">My projects</a></li>
        <li><a href="{%url 'logout' %}">Logout</a></li>
        {%else%}
        <li><a href="{%url 'login' %}">Login</a></li>
        <li><a href="{%url 'signup' %}">Signup</a></li>

        {%endif%}
      </nav>
    </header>
    <main>
      <div>
        <h1>{%block h1%}{%endblock%}</h1>
        {%block content%}{%endblock%}
      </div>
    </main>
  </body>
</html>
